**/.idea
.catkin_tools/*
**/.catkin_tools
.idea/*
*.tmp
**/*.launch~
**/*.srv~
**/*.msg~
*~
*.pyc
./frozen_model
./frozen_model/*
ocr_rcnn/
./src/button_recognition/scripts/ocr_rcnn_lib/models
./src/button_recognition/scripts/ocr_rcnn_lib/exported_models
